

        

        html{
            color:#1A1A1A;



        }

        body {

            font-family: Arial;
            font-size: 16px;
            

        }

        header {

            text-align: center;
            background-color: #111;
            color: #fff;


        }

        header img {
           
            height:auto;
            
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;

        }

        .logo{

            width:50vw;
            height: auto;
            border-radius: 10px;
        }
        
        .content h2 {
            font-size: 1.6rem;
            color:#145A32;
            
            margin: 50px 30px 5px 8px;
        }
        h3{
            color: #1D8348
        }

        .btn {
            margin-top: 20px;
            padding: 20px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        }
        .btn-enviar {
             margin-top: 40px;
            background: rgb(11, 95, 11);
            color:white;
            transition: all 0.3s ease;
        }
        .btn-borrar{
            background-color: red;
            color:aliceblue;


        }
        .btn-enviar:hover{

            filter: brightness(1.50);
            transform: translateY(-10px);
        }

        /*
            TABLA DE TARIFAS
        */

        .tabla-tarifas{

            width: 100%;
            border: 2px solid #333; 
            border-radius: 8px;
            background:#fff; 
            overflow: hidden;
            text-align: center;

        }

        .tabla-tarifas thead th {
            background:#1D8348;
            color: #fff;
            padding: 10px;
            border-bottom: 4px solid #333;
        }

        .tabla-tarifas td {

            border: 1px solid #333;
            padding: 40px;
            vertical-align: top;

        }

        /*formulario*/

        .contacto h2 {
            margin-top: 10px;
            margin-bottom: 6px;

        }

        .contacto p {

            margin-bottom: 8px;
        }

        .content h2{
            font-size: 1.6rem;


        }

        .form{

            background:#fff;
            border: 1px solid #333;
            border-radius: 10px;
            padding: 16px;
        }

        .campo{

            display: block;
            margin-bottom: 15px;

        }

        .campo > span {

            display: inline-block;
            margin-bottom: 6px;
            font-weight: 600;
        }

        input[type="email" ], 
        input[type="text"],
        textarea {

            width: 100%;
            padding:10px;
            border: 1px solid #27ae60;
            border-radius: 8px;
            outline: none;
            box-sizing: border-box;
        }

        .site-footer{

            margin-top: 24px;
            padding: 18px 16px;
            background: #dde3ea;
            border-top: 1px solid #27ae60;
            text-align: center;


        }
    

  